body {
  font-family: ;
  color: #fff;
  background-color: #336699;
  padding-top: 2em;
}
h1 {
  font-size: 5em;
}
header {
  margin-bottom: 30px;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}